@font-face {
  font-family: FSIndustrie;
  src: url(font/FS_Industrie_Bold.otf);
}
body {
  margin: 0;
  padding: 0;
  font-family: FSIndustrie, Arial, sans-serif;

}
body .container {
  width:100%;
}
p {
  height: auto;
  width: auto;
  margin: 0.5em 0;
  padding: 0;
}
#top {
  width:100%;
  height:130px;
  position: absolute;
  z-index: 10;
}
#top::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("image/paper.jpg");
  background-size: cover;
  background-position: -10px, -10px;
  filter: sepia(100%) hue-rotate(180deg) saturate(220%) brightness(60%) contrast(150%) sepia(100%) hue-rotate(180deg) saturate(220%) brightness(60%) contrast(150%) drop-shadow(0px 5px 5px black);
  position: absolute;
  z-index: -1;
}
#top img {
  height: 120px;
  padding: 5px;
  float:left;
}
#top p {
  display: inline-block;
  color: #EEEEEE;
  font-size: 30px;
  padding: 25px;
}
#top a:hover p {
  color: #EC8825;
  position: 30px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
}
#main {
  width:100%;
  min-height: 100vh;
  height: auto;
  margin-top: 130px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*height:calc(100% - 130px);*/
  position: absolute;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
#main::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("image/paper.jpg");
  background-size: cover;
  background-position: 0px, -20px;
  filter: sepia(100%) hue-rotate(180deg) saturate(180%) brightness(70%) contrast(130%);
  position: absolute;
  z-index: 0;
}
.item {
  background: rgba(255,255,255,0.4);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  width: 300px;
  filter: drop-shadow(0px 5px 5px black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  overflow-y: auto;
}
.item p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}
.item img {
  width: 250px;
  margin-left: 25px;
}
.shareline {
  display:flex;
  justify-content: space-between;
  margin-top: auto;
}
.item h3.price {
  text-align: left;
  display: inline-block;
}
.item h3.quant {
  text-align: right;
  display: inline-block;
}
