@font-face {
  font-family: FSIndustrie;
  src: url(font/FS_Industrie_Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: FSIndustrie, Arial, sans-serif;
}

#container {
  width: 100%;
}

p {
  height: auto;
  width: auto;
  margin: 0.5em 0;
  padding: 0;
}

#top {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  height: auto;
  z-index: 10;
  box-sizing: border-box;
}

#top::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("image/paper.jpg");
  background-size: cover;
  background-position: -10px -10px;
  filter: sepia(100%) hue-rotate(180deg) saturate(220%) brightness(60%) contrast(150%) sepia(100%) hue-rotate(180deg) saturate(220%) brightness(60%) contrast(150%) drop-shadow(0px 5px 5px black);
  z-index: -1;
}

#top img {
  height: 80px;
  margin: 0;
  flex-shrink: 0;
}

#top p {
  display: inline-block;
  color: #EEEEEE;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#top a:hover p {
  color: #EC8825;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-5px);
}

#search {
  height: 36px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: FSIndustrie, Arial, sans-serif;
  z-index: 20;
  flex-grow: 1;
  margin: 0;
}

#search::placeholder {
  color: #777;
}

#main {
  width: 100%;
  min-height: 100vh;
  margin-top: 0;             /* this will cause a white strip at the top */
  padding: 20px 0;
  position: relative;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("image/paper.jpg");
  background-size: cover;
  background-position: 0 -20px;
  filter: sepia(100%) hue-rotate(180deg)
          saturate(180%) brightness(70%) contrast(130%);
  z-index: 0;
}

.item {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  margin: 10px 20px;
  border-radius: 10px;
  width: 300px;
  filter: drop-shadow(0px 5px 5px black);
  display: flex;
  flex-direction: column;
  height: auto;
}

.item p {
  margin: 10px 0;
  padding: 5px;
}

.item img {
  width: 250px;
  margin-left: 25px;
}

.shareline {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.item h3.price {
  text-align: left;
  display: inline-block;
}

.item h3.quant {
  text-align: right;
  display: inline-block;
}
